<nav class="navbar navbar-fixed-top navbar-inverse">
  	<div class = "navbar-header">
    		<%= link_to root_path, id: "logo", class: 'navbar-brand' do %>
    			<span class="glyphicon glyphicon-plane"></span>
    			Airbooker
    		<% end %>
    </div>
</nav>